/* --- Font Face --- */
@font-face {
    font-family: 'SourceSansPro';
    src: url('Elements/Font/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('Elements/Font/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('Elements/Font/source-sans-pro/SourceSansPro-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

/* --- General --- */
:root {
    --primary: #FF6565;
    --dark: #071629;
    --pure: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SourceSansPro', sans-serif;
    color: var(--pure);
    /* background: red; */
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* --- Component --- */
.btn {
    border: transparent;
    padding: 0.9rem 1.8rem;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn-primary {
    color: var(--pure);
    background: var(--primary);
    transition: all .3s ease;
}

.btn-primary:hover {
    opacity: 0.9;
}

#menu-checker, #menu-checker2 {
    opacity: 0;
}

.menu {
    background-color: var(--pure);
    width: 20px;
    height: 3px;
    border-radius: 50px;
    transform: translateY(-20px);
    position: relative;
    transition: all .3s ease;
}

#menu-checker:checked ~ label .hamburger-menu .menu {
    transform: translateY(-10px) rotate(45deg);
    /* transform: ; */
}

.menu::before {
    content: "";
    width: 12px;
    height: 3px;
    border-radius: 50px;
    position: absolute;
    background-color: var(--pure);
    transform: translateY(8px);
    transition: all .3s ease;
}

#menu-checker:checked ~ label .hamburger-menu .menu::before {
    display: none;
}

.menu::after {
    content: "";
    width: 20px;
    height: 3px;
    border-radius: 50px;
    position: absolute;
    background-color: var(--pure);
    transform: translateY(16px);
    transition: all .3s ease;
}

#menu-checker:checked ~ label .hamburger-menu .menu::after {
    /* transform: translateY(16px); */
    transform: rotate(-90deg);
}

.section-heading {
    padding-top: 7rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.section-heading + p {
    margin: 2.7rem auto;
    width: 637px;
    text-align: center;
    line-height: 26px;
}

/* --- Utility */
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.relative {
    position: relative;
}


/* --- Header --- */
header {
    background: url(Elements/images/headphones_hero_1.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 7rem;  
}

header .nav-container {
    width: 100%;
    padding-top: 2rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-container .nav-left {
    width: 161px;
}

header .nav-container .nav-left .hamburger-menu {
    display: none;
}

header .nav-container .nav-left .logo .logo-img {
    width: 100%;
}


header .nav-container .nav-right ul li {
    list-style: none;
    margin-left: 2.5rem;
}

.hamburger-menu-links li {
    list-style: none;
}

header .nav-container .nav-right ul li a, .hamburger-menu-links li a {
    text-decoration: none;
    color: var(--pure);
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: lowercase;
    transition: all .3s ease;
}

header .nav-container .nav-right ul li a:hover, .hamburger-menu-links li a:hover {
    color: var(--primary);
}

.hamburger-label {
    display: none;
}

.hamburger-menu-links {
    margin-top: 5rem;
    display: none;
}

.hamburger-menu-links li {
    margin-bottom: 2rem;
}

header .hero {
    margin: 0 auto;
    padding-top: 24rem;
    text-align: center;
    width: 637px;
}

header .hero h1 {
    font-weight: bold;
    font-size: 2rem;
}

header .hero h3 {
    font-weight: bold;
    font-size: 1rem;
}

header .hero .btn-wrapper {
    margin-top: 2.7rem;
    margin-bottom: 3.8rem;
}

header .hero p {
    font-weight: normal;
    font-size: 1rem;
    line-height: 26px; 
}

/* --- Section: What we do --- */
section.what-we-do {
    color: var(--dark);
    padding-bottom: 7rem;
}

section.what-we-do .card-wrapper {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
}

section.what-we-do .card-wrapper .card {
    text-align: center;
    padding: 0 1rem;
    width: 207px;
}

section.what-we-do .card-wrapper .card:hover {
    background-color: var(--dark);
    color: var(--pure);
}

section.what-we-do .card-wrapper .card .image-wrapper {
    margin: 0 auto;
    max-width: 51px;
}

section.what-we-do .card-wrapper .card:nth-child(1)  .image-wrapper {
    max-width: 85px;
}

section.what-we-do .card-wrapper .card .image-wrapper img {
    width: 100%;
}

section.what-we-do .card-wrapper .card h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
}

section.what-we-do .card-wrapper .card p {
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 26px;
}

/* --- Section: result --- */
section.result {
    background: url(Elements/images/headphones_hero_2.jpg) no-repeat;
    padding-bottom: 7rem;
    background-size: cover;
}

section.result .card-wrapper {
    padding-top: 4rem;
    display: flex;
    gap: 0 74px;
}

section.result .card-wrapper .card {
    width: 190px;
    height: 190px;
    object-fit: contain;
    position: relative;
}

section.result .card-wrapper .card:hover {
    transform: scale(1.1);
}

section.result .card-wrapper .card img {
    width: 100%;
}

section.result .card-wrapper .card .detail {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--pure);
}

section.result .card-wrapper .card .detail h3 {
    font-size: bold;
    font-size: 2.8rem;
}

section.result .card-wrapper .card .detail p {
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1.5;
}

/* --- Section: contact --- */
section.contact {
    color: var(--dark);
    padding-bottom: 7rem;
}

section.contact .form {
    width: 335px;
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

section.contact .form .input-wrapper {
    border-bottom: 1px solid rgb(207, 206, 206);
}

section.contact .form .input-wrapper input {
    width: 100%;
    height: 29px;
    outline: none;
    border: none;
}

section.contact .form .input-wrapper input::placeholder {
    transform: translateY(-10px);
    color: var(--dark);
    font-weight: 600;
    font-size: 0.8rem;
}

section.contact .form .btn-wrapper {
    text-align: center;
    padding-top: 2rem;
}

/* --- Footer --- */
footer {
    background-color: var(--dark);
    padding-top: 6rem;
    padding-bottom: 3rem;
    text-align: center;

}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .logo-wrapper {
    width: 114px;
}

footer .container .logo-wrapper img {
    width: 100%;
}

footer .container .social-wrapper .social {
    display: inline-block;
    margin-left: 1rem;
}

footer p {
    margin-top: 4rem;
    opacity: 0.3;
}

@media (max-width: 480px) {
    /* --- General --- */
    .container {
        width: 100%;
        padding: 0 1rem;
    }

    /* --- Component --- */
    .section-heading + p {
        width: 325px;
    }

    /* --- Header --- */
    header {
        width: 100%;
        object-fit: cover;
        background-position: 40% 0;
        background-size: cover;
    }

    header .nav-container {
        width: 90%;
        padding-top: 3rem;
    }

    header .nav-container .nav-left {
        position: relative;
        flex-direction: column;
        width: 100%;
    }

    header label.hamburger-label {
        display: block;
        position: absolute;
        left: 30px;
        top: 76px;
        width: 20px;
    }

    #menu-checker:checked ~ .hamburger-menu-links {
        display: block;
        text-align: center;
    }

    header .nav-container .nav-left .logo {
        max-width: 161px;
        left: 50%;
        transform: translateX(80%);
    }

    header .nav-container .nav-right {
        display: none;
    }

    header .hero {
        width: 357px;
    }

    /* --- Section: what we do --- */
    section.what-we-do .card-wrapper, section.result .card-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 6rem;
    }

    /* --- Section: result --- */
    section.result .section-heading {
        width: 266px;
        margin-left: auto;
        margin-right: auto;
    }

    /* --- Footer --- */
    footer {
        padding-top: 4rem;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .logo-wrapper {
        width: 162px;
    }

    footer .container .social-wrapper {
        margin-top: 3rem;
    }
}
